.qke__header {
    display: flex;
    flex-direction: row;
}

.qke__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 4rem;
}

.qke__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.04rem;
}
.qke__header-content p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    
    color: var(--color-text);
    margin-top: 1.6rem;
}

.qke__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
}

.qke__header-content__input input {
    flex: 2;
    width: 100%;
    min-height: 48px;
    background: var(--color-footer);
    /* border-radius: 6px 0px 0px 6px; */
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);
    outline: none;
    border: 2px solid var(--color-footer);
    padding: 0 1rem;

    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;


}

.qke__header-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 48px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    background: #fefefe;
    /* border-radius: 6px 0px 0px 6px; */
    color: #2d2d2d;
    cursor: pointer;
    outline: none;
    padding: 0 .25rem;
    border: none;
    /* border-top-left-radius: 6px; */
    /* border-bottom-left-radius: 6px; */
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.qke__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.qke__header-image img{
    width: auto;
    height: 80%;   
}

@media screen and (max-width: 1050px) {
    .qke__header {
        flex-direction: column;
        
    }

    .qke__header-content {
        margin: 0 0 3rem;
    }

    .qke__header-image img{
        width: 50%;
        height: auto;   
    }
}

@media screen and (max-width: 650px) {
    .qke__header h1 {
        font-size: 48px;
        line-height: 56px;
    }
    .qke__header p {
        font-size: 16px;
        line-height: 24px;
    }

    .qke__header-content__input input,
    .qke__header-content__input button{
        font-size: 16px;
        line-height: 24px;
    }

    /* .qke__header-image img{
        width: 40%;
        height: auto;   
    } */
}

@media screen and (max-width: 490px) {
    .qke__header h1 {
        font-size: 36px;
        line-height: 48px;
    }
    .qke__header p {
        font-size: 14px;
        line-height: 24px;
    }

    .qke__header-content__input input,
    .qke__header-content__input button{
        font-size: 12px;
        line-height: 16px;
    }

    /* .qke__header-image img{
        width: 30%;
        height: auto;   
    } */
}